/* p {
    font-size: 30px;
    color:red;
    text-align: center;
} */
/* body{
   /* background-color: aqua; */
/* } */ 

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

 #o{ 
    font-size: 60px;
    color: #c12e2e;
    background-color: rgb(226, 212, 220);
    text-align: center;
    text-decoration: underline;
    font-family:'Times New Romen';
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.01em;
    border:10px solid #e60cac;
 }

 .Para-blue{ 
    font-size: 30px;
    color: blueviolet;
    text-align: center;
    font-style: italic;
 }